<header>
  <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">    
    <ul class="nav nav-pills ms-2">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="blog" routerLinkActive="active">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="book" routerLinkActive="active">Book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="profile" routerLinkActive="active">Profile</a>
      </li>
    </ul>
    </nav>
  </header>